

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 40px;
    color:rgb(170, 159, 39);
    font-size: 30px;
    font-weight: 500; 
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color:rgb(32, 87, 52);
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}


.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
    
    
}

.nav-cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    position: relative;
    top: -40px;
    left: -10px;
}
